= javascript_pack_tag "application"
= react_component "CurrenciesContainer", { availables_currencies: @availables_currencies }

footer
  div Real-time conversion rates from #{link_to "Cryptocompare", "https://www.cryptocompare.com/", target: '_blank'}
